@import url("colors.css");

* {
    font-family: Ubuntu Nerd Font, Canterell, FontAwesome, monospace;
    font-size: 14px;
    border: none;
    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background-color: @tertiary_container_a6;
    border-radius: 6px;
    border: 2px solid @tertiary_container_a9;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left {
    margin: 4px;
    border-radius: 6px;
    border: 1px solid @on_surface_a5;
}

/* === Workspaces === */
#workspaces {
    background-color: @secondary_container_a3;
    padding: 0px 3px;
}

#workspaces button {
    all: unset;
    color: @on_secondary_container;
    padding: 2px 0px;
    margin: 3px;
    min-width: 0;
    border-radius: 3px;
    background: transparent;
}

#workspaces button.focused {
    background-color: @primary_container;
    color: @primary;
}

#workspaces button.urgent {
    background-color: @error_container;
    color: @on_error;
}

#workspaces button:hover {
    color: @primary;
}

/* === Clock (center) === */
.modules-center {
    margin: 0px;
    border-radius: 6px;
}

#clock {
    margin: 0px;
    padding: 0px 10px;
    color: @on_surface;
    font-size: 17px;
}

/* === Right Side Grouping === */
.modules-right {
    background-color: @secondary_container_a3;
    border: 1px solid @on_surface_a5;
    border-radius: 6px;
    margin: 4px;
    padding: 0px 3px;
}

.modules-right > widget {
    margin: 0px 2px;
}

.modules-right > widget:first-child {
    margin-left: 0;
}

/* === Right modules === */
#pulseaudio,
#network,
#backlight,
#battery,
#tray,
#custom-notif {
    padding: 6px 6px;
    background: transparent;
    color: @on_secondary_container;
    border: none;
}

#battery {
    margin: 1px 2px;
}

/* Battery states */
#battery.charging, #battery.plugged {
    background-color: @primary;
    color: @on_primary;
    border-radius: 4px;
}

#battery.warning:not(.charging) {
    background-color: @error;
    color: @on_error;
    border-radius: 4px;
}

#battery.critical:not(.charging) {
    background-color: @error_container;
    color: @on_surface;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 4px;
}

@keyframes blink {
    to {
        background-color: @surface;
        color: @on_surface;
    }
}

/* Tray icons */
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray menu {

    border-radius: 6px;
    background-color: @tertiary_container;
    border: 2px solid @tertiary_container_a9;
    font-family: sans-serif;
    padding: 5px;
}

#tray menu > * {
    margin: 3px 0px;
}

/* Accessibility */
label:focus {
    background-color: @scrim;
}
